<h2>All Coffees:</h2> </h3>(<%= @coffees.count %> coffees logged so far)</h4>
<% @coffees.each do |coffee| %>
<p><strong><a href="/coffees/user/<%= coffee.user_id %>"><%= coffee.user.username %></a></strong> recently tried <strong><a href="/coffees/<%= coffee.id %>"><%= coffee.name %></a></strong>, from <strong><a href="/coffees/roaster/<%= coffee.roaster.parameterize %>"><%= coffee.roaster %></a></strong>
<br>
<% end %> 