<h1><%= @coffee.name %></h1>
<h2>Roasted by: <%= @coffee.roaster %></h2>
<h3>Roast Level: <%= @coffee.roast_level %></h3>
<h3>Tasting Notes: <%= @coffee.tasting_notes %></h3>
<h3>Rating: <%= @coffee.rating %> out of 5 Stars </h3>
<% if logged_in? && session[:user_id] == @coffee.user_id %>
<br>
<p><a href="/coffees/<%= @coffee.id %>/edit">Edit This Coffee</a>
<p><a href="/coffees/<%= @coffee.id %>/delete">Delete This Coffee</a>
<% end %>