<h1><%= @coffee.name %></h1>
<h2>Roasted by: <%= @coffee.roaster %></h2>
<h3>Roast Level: <%= @coffee.roast_level.capitalize %></h3>
<h3>Tasting Notes: <%= @coffee.tasting_notes %></h3>
<h3>Rating: <%= @coffee.rating %> out of 5 Stars </h3>
<% if logged_in? && session[:user_id] == @coffee.user_id %>
<br>
<p><button><a href="/coffees/<%= @coffee.id %>/edit">Edit This Coffee</a></button>
<form method="post" action="/coffees/<%= @coffee.id %>/delete">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <button type="submit">Delete This Coffee</button> 
</form> 
<% end %>